body {
background-color: rgb(89, 89, 89);
margin: 5px;
font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(255, 77, 77);
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: auto;
}

p {
  font-family: 'Lora', serif;
  font-size: 200%;
  color: rgb(255, 204, 204);
  width: auto;
}

.list {
  font-family: 'Alegreya Sans', sans-serif;
  color: rgb(255, 204, 204);
  list-style-type: inside circle;
}

.container {
    align: center;
    width: 400px;
    height: 240px;
}

/* resize images */
.container img {
    align: center;
    width: 100%;
    height: auto;
}
